/FalloutCompletionTask_automatedtask_osmcentralomexample-orchestration_automation.xml
/OsmCentralOMExampleOrder_order_osmcentralomexample-orchestration_automation_notification.xml
/activateOrderFixedTask_automatedtask_osmcentralomexample-orchestration_automation.xml
/activationOrderAdslRegion1Task_automatedtask_osmcentralomexample-orchestration_automation.xml
/activationOrderAdslRegion2Task_automatedtask_osmcentralomexample-orchestration_automation.xml
/configureBillingTask_automatedtask_osmcentralomexample-orchestration_automation.xml
/mobileOrderActivationTask_automatedtask_osmcentralomexample-orchestration_automation.xml
/routeToProvisioningTask_automatedtask_osmcentralomexample-orchestration_automation.xml
